# project:
#   type: website
# 
# website:
#   title: "poo"
#   navbar:
#     left:
#       - href: index.qmd
#         text: Home
#       - about.qmd
#       - shiny.qmd
# 
# format:
#   html:
#     theme:
#       - cosmo
#       - brand
#     css: styles.css
#     toc: true
# 
# editor: visual

project:
  title: "poo"
  
# format:
#   html:
#     theme:
#       - cosmo
#       - brand
#     css: styles.css
#     toc: true